<header>
<div class="dpf jc">
{# image volé sur le let #}
<img src="{{ asset('asset/image/Pizza-icon.png')}}" alt="icon d'une pizza" class='W-64'>
</div>
<div class='dpf jc'><h1 >Bienvenue chez Il Pozzo</h1></div>
</header>