{% extends 'base.html.twig' %}

{% block title %}Il Pozzo - Accueil
{% endblock %}

{% block body %}
	<!--start navbar -->
	<nav
		class="navbar dpf fdc">
		<!--start navbar list-->
		<ul class="navbar__links ">

			<li class="navbar__link">
				<a href="#">accueil</a>
			</li>
			<li class="navbar__link">
				<a href="#">Qui-sommes nous</a>
			</li>
			<li class="navbar__link">
				<a href="#">Réservé</a>
			</li>
			<li class="navbar__link">
				<a href="#">contact</a>
			</li>

		</ul>
		<!--end navbar list-->

	</nav>
	<!--end navbar-->
	<main>
	<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0242Bpxh7ZHPd26uW25V6mJjqC3xxwAuEC4RavzzCyM8rnPU3xZhjysVbwmJfLFHNl%26id%3D100034855273340&show_text=true&width=500" width="500" height="190" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
		<!--slider-->
		<div class="slider">
		<!--radio buttons-->

		<!--radio button-->
		<!--img-->
		<!--img-->
		</div>
		<!--slider-->
		<!---->
		<!---->
		<!---->
		<!---->
		<!---->

		{# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, sapiente! Porro doloribus sunt quis pariatur, corporis quaerat aliquam exercitationem minima fugiat delectus cupiditate quibusdam, corrupti, nisi error eaque hic soluta harum amet sed beatae! Itaque eaque esse earum atque, repudiandae officia nesciunt minus qui provident rerum cumque maxime sed est corporis voluptates! Iste obcaecati corrupti dolorem maiores quas, repellendus ipsa ex voluptas? Deserunt, voluptatum. Soluta non minus maiores dolore laudantium, nostrum dolorum ad saepe ea dolores voluptatum harum incidunt laboriosam quasi distinctio quisquam minima voluptate esse consectetur! Ullam distinctio sapiente qui corrupti nesciunt! Quaerat, ducimus cumque deleniti, veniam ipsam beatae, quia blanditiis dicta soluta incidunt reiciendis quod eveniet eos assumenda nihil aliquid possimus fugit aliquam! Rerum deserunt alias a sunt accusantium non, neque vero nemo mollitia! Eum quam distinctio qui laborum voluptas veritatis mollitia, corrupti dolorem corporis accusamus velit odio, beatae placeat dolor reprehenderit voluptatibus expedita ad quae iste. Cumque architecto, unde ratione fugiat iure at ea reiciendis cupiditate! Est eveniet nihil alias quo ex corporis laborum saepe unde et modi odio perspiciatis, exercitationem officia! Repudiandae saepe explicabo voluptatum earum quaerat similique, asperiores, doloremque odit sapiente quae ut illo temporibus porro a non laudantium! Repudiandae deserunt cum voluptas exercitationem optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum illo provident omnis ea reprehenderit quae laboriosam libero laudantium impedit temporibus alias nam molestias eligendi quis! Fuga optio qui animi.</p> #}
	</main>
	<div class="dpf jc aife  ">
		<button class="burger">
			<span class="bar"></span>
		</button>
	</div>

{% endblock %}
