{% extends 'base.html.twig' %}

{% block title %}Hello BackofficeController!{% endblock %}

{% block body %}
    <a href="/inscription">s'inscrire</a>
    <a href="/login">se connecter</a>
{% endblock %}
