{% extends 'base.html.twig' %}

{% block title %}Hello BackofficeController!
{% endblock %}

{% block body %}
	<div class="dpf fdc">
		<a href="/backoffice/inscription">s'inscrire</a>
		<a href="/backoffice/login">se connecter</a>
		<a href="/backoffice/profile">profile</a>
	</div>
{% endblock %}
