{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}
    <a href="/backoffice">retour à l'accueil de connexion</a>
    <a href="/backoffice/login">se connecter</a>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}